form.login-pane input{
    width: 80%;
    margin: 1em auto;
    padding: 0.5em;
    border: 2px solid #c2c2c2;
    border-radius: 5px;
    display: block;
    
    transition: border 0.5s;
}

form.login-pane input:focus{
    border: 2px solid #1dc2ae;
}

form.login-pane div.login-button {
    width: max-content;
    padding: 0.5em;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    color: #074b69;
    background-color: #fff;
    border: 1px solid #074b69;
    border-radius: 3px;

    transition: background-color 0.5s, color 0.5s;
}

form.login-pane div.login-button:hover{
    background-color: #074b69;
    color: #fff;
}

form.login-pane div.login-button-disabled{
    background-color: #c2c2c2;
    color: #888;
    border: 1px solid #888;
    cursor: not-allowed;
}

form.login-pane div.login-button-disabled:hover{
    background-color: #c2c2c2;
    color: #888;
}

form.login-pane p.pwd-toast{
    padding: 0.3em;
    font-size: small;
    text-align: center;
    border: 2px solid #e52207;
    background-color: #f75740;
}

form.login-pane h1{
    border-bottom: 3px solid #074b69;
}